Source: kdeartwork
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <armin+debian@space-based.de>, Michael Casadevall <mcasadevall@debian.org>, Modestas Vainius <modestas@vainius.eu>
Build-Depends: cdbs (>= 0.4.51), debhelper (>= 7), quilt, pkg-kde-tools (>= 0.4.2),
 kdebase-workspace-dev (>= 4:4.3.3), libxt-dev, libstreamanalyzer-dev (>= 0.6.3),
 xscreensaver, xscreensaver-data, xscreensaver-data-extra, xscreensaver-gl, xscreensaver-gl-extra, 
 libqt4-opengl-dev, libeigen2-dev
Standards-Version: 3.8.3
Homepage: http://www.kde.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/trunk/packages/kdeartwork
Vcs-Svn: svn://svn.debian.org/pkg-kde/trunk/packages/kdeartwork

Package: kdeartwork
Architecture: all
Depends: kdeartwork-emoticons (>= ${source:Version}),
 kdeartwork-style (>= ${source:Version}), kdeartwork-theme-icon (>= ${source:Version}) | kdelibs-data,
 kdewallpapers (>= ${source:Version}), kscreensaver (>= ${source:Version}),
 plasma-desktopthemes-artwork (>= ${source:Version})
Replaces: kdeartwork-misc
Description: themes, styles and other artwork from the official KDE 4 release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This metapackage includes a collection of additional artwork provided with the
 official release of KDE 4.

Package: kdeartwork-emoticons
Architecture: all
Description: emoticon collections for KDE 4 chat clients
 This package contains several collections of emoticons for KDE chat clients,
 such as Kopete and Konversation.
 .
 This package is part of the KDE 4 artwork module.


Package: kdewallpapers
Architecture: all
Suggests: kde-window-manager | x-window-manager
Replaces: kdebase-workspace-data (<< 4:4.2.96)
Description: wallpapers released with KDE 4
 This package contains additional wallpapers for KDE 4.
 .
 This package is part of the KDE 4 artwork module.


Package: kdeartwork-theme-icon
Depends: kde-icons-nuvola (>= ${source:Version})
Architecture: all
Description: icon themes released with KDE 4
 This metapackage installs additional icon themes for KDE 4.
 .
 This package is part of the KDE 4 artwork module.

Package: kde-icons-nuvola
Architecture: all
Depends: ${misc:Depends}, nuvola-icon-theme
Description: transitional package for Nuvola icon theme
 Transitional package for ease upgrading from Nuvola icons as shipped
 in KDE 3 series.

Package: nuvola-icon-theme
Section: x11
Architecture: all
Depends: ${misc:Depends}
Replaces: kde-icons-nuvola (<< 4:4.0.0), kdeartwork-theme-icon (<= 4:4.3.0-3)
Conflicts: kde-icons-nuvola (<< 4:4.0.0), kdeartwork-theme-icon (<= 4:4.3.0-3)
Description: Nuvola icon theme
 This package contains the Nuvola icon theme for 4.
 Nuvola follows the freedesktop.org icon schemes, so it can be used in other
 desktop environments using this specification.
 .
 This package is part of the KDE 4 artwork module.

Package: kdeartwork-theme-window
Architecture: any
Description: window decoration themes released with KDE 4
 This package contains additional window decoration themes for KDE 4.
 .
 This package is part of the KDE 4 artwork module.


Package: kdeartwork-style
Architecture: any
Depends: ${shlibs:Depends}
Description: widget styles released with KDE 4
 This package contains additional widget styles for KDE 4.
 .
 This package is part of the KDE 4 artwork module.


Package: kscreensaver
Architecture: any
Depends: ${shlibs:Depends}, kdebase-workspace-bin
Recommends: kde-window-manager, kscreensaver-xsavers (= ${binary:Version})
Description: Additional screensavers released with KDE 4
 This package contains screensavers for KDE 4.
 .
 KScreenSaver can use XScreenSaver collection of screensavers with the
 'kscreensaver-xsavers' package.
 .
 This package is part of the KDE 4 artwork module.


Package: kscreensaver-xsavers
Architecture: any
Depends: ${shlibs:Depends}, kdebase-workspace-bin, xscreensaver-data, xscreensaver-data-extra
Recommends: kde-window-manager, kscreensaver (= ${binary:Version}), xscreensaver-gl, xscreensaver-gl-extra
Suggests: kscreensaver-xsavers-webcollage (= ${source:Version})
Description: xscreensaver support for KDE 4
 This package allows KDE 4 to use the XScreenSaver collection of screensavers.
 .
 The official KDE 4 screensavers can be found in the 'kscreensaver' package.
 .
 This package is part of the KDE 4 artwork module.


Package: kscreensaver-xsavers-webcollage
Architecture: all
Depends: kscreensaver-xsavers (>= ${source:Version}), miscfiles, netpbm
Description: webcollage screensaver support for KDE 4
 This package allows KDE 4 to use the WebCollage screensaver, which downloads
 random pictures from the internet to create a collage.
 .
 IMPORTANT NOTICE: The internet contains all kinds of pictures, some of which
 might be found inappropriate or offensive.
 It is recommended that this screensaver not be used a public environment,
 workplace, or where it may be seen by children.
 .
 Please read /usr/share/doc/kscreensaver-xsavers-webcollage/README.Debian
 after installing this package.
 .
 This package is part of the KDE 4 artwork module.


Package: plasma-desktopthemes-artwork
Architecture: all
Depends: ${shlibs:Depends}
Replaces: kdeplasma-addons-data (<< 4:4.1.87)
Description: desktop themes for KDE 4
 This package include several desktops theme to change plasma colours
 settings.
 .
 This package is part of the KDE 4 artwork module.

Package: kdeartwork-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ${shlibs:Depends}
Suggests: kdeartwork (= ${source:Version})
Description: debugging symbols for kdeartwork
 This package contains the debugging files associated with kdeartwork.
 They will automatically be used by gdb for debugging kdeartwork-related
 issues.
